:root {
	--dark: #303841;
	--light: #eeeeee;
	--grey: #3a4750;
	--orange: #ea9215;
}

body {
	background-color: var(--light);
	margin: 0;
}

.header__container {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__card {
  flex: 1;
}

.header__card--title {
  font-size: 28px;
  margin: 0;
  padding-left: 10%;
}

.header__card--navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  padding-right: 20%;
}

.header__card--link {
  list-style: none;
  margin: 20px;
}

.header__card--link a {
  color: var(--light);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.header__card--link a:hover {
  background-color: var(--grey);
  color: var(--orange);
}
