:root {
	--dark: #303841;
	--light: #eeeeee;
	--grey: #3a4750;
	--orange: #ea9215;
}

body {
	background-color: var(--light);
	margin: 0;
}

.header__container {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__card {
  flex: 1;
}

.header__card--title {
  font-size: 28px;
  margin: 0;
  padding-left: 10%;
}

.header__card--navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  padding-right: 20%;
}

.header__card--link {
  list-style: none;
  margin: 20px;
}

.header__card--link a {
  color: var(--light);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.header__card--link a:hover {
  background-color: var(--grey);
}

.header__card--link a:active {
  color: var(--orange);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, th, td {
  border: 1px solid;
}

.table {
  border-collapse: collapse;
  margin: 20px;
}

.table--row--item {
  max-width: 15rem;
  padding: 10px;
}

.table--row--item--title {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}

.table--row--item--text {
  max-width: 10rem;
}
