:root {
	--dark: #303841;
	--light: #eeeeee;
	--grey: #484e53;
	--orange: #ea9215;
}

body {
	background-color: var(--light);
	margin: 0;
}

.header__container {
  background-color: var(--dark);
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__card {
  flex: 1;
}

.header__card--title {
  font-size: 28px;
  margin: 0;
  padding-left: 10%;
}

.header__card--title--link {
  color: var(--orange);
  text-decoration: none;
}

.header__card--navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  padding-right: 20%;
}

.header__card--link {
  list-style: none;
  margin: 20px;
}

.header__card--link a {
  color: var(--light);
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.header__card--link a:hover {
  background-color: var(--grey);
}

.header__card--link a:active {
  color: var(--orange);
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.table__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, th, td {
  border: 3px solid;
  border-color: var(--dark);
}

.table {
  border-collapse: collapse;
  margin: 20px;
}

.table--row--item {
  max-width: 15rem;
  padding: 10px;
}

.table--row--item--title {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  background-color: var(--grey);
  color: var(--orange);
}

.table--row--item--text {
  max-width: 10rem;
}

.form {
	display: flex;
	margin: 3rem;
}

.form__border {
	padding: 0.75em;
	padding-right: 1em;
	border-radius: 7px;
	border-color: var(--dark);
	border-width: 2px;
}

.form__text {
  padding: 0.2rem;
	margin: 0.4em;
	border-radius: 5px;
}

.form__text--answer--select {
	background-color: var(--dark);
	border-color: var(--orange);
	color: var(--orange);
}

.form__text--answer--fill {
	background-color: var(--orange);
	border-color: var(--dark);
}

.form__text--right {
  margin-left: auto;
}

.form__text--right--fill {
  width: 15rem;
}

.form__text--answer--fill--big {
  width: 100%;
}

.form__text--answer--submit {
  width: 30%;
	margin-top: 0.3em;
	background-color: var(--dark);
	border-color: var(--orange);
  color: var(--orange);
}
